<div class="row">
  <h1>Create Host</h1>
  <form class="form-horizontal" name="form" novalidate>
    <div class="form-group" ng-class="{'has-error': form.cpu.$invalid}">
      <label class="col-sm-2 control-label">CPU</label>
      <div class="col-sm-10">
        <div class="input-group">
          <input type="text" name="cpu" class="form-control" ng-model="host.cpu" required integer />
          <span class="input-group-addon"> Cores</span>
        </div>
        <div ng-show="form.$submitted || form.cpu.$touched">
          <span class="help-block" ng-show="form.cpu.$error.required">This field is required.</span>
          <span class="help-block" ng-show="form.cpu.$error.integer">This must be anumber.</span>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': form.memory.$invalid}">
      <label class="col-sm-2 control-label">Memory</label>
      <div class="col-sm-10">
        <div class="input-group">
          <input type="text" name="memory" class="form-control" ng-model="host.memory" required integer />
          <span class="input-group-addon">MB</span>
        </div>
        <div ng-show="form.$submitted || form.memory.$touched">
          <span class="help-block" ng-show="form.memory.$error.required">This field is required.</span>
          <span class="help-block" ng-show="form.memory.$error.integer">This must be anumber.</span>
      </div>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': form.disk_space.$invalid}">
    <label class="col-sm-2 control-label">Disk Space</label>
    <div class="col-sm-10">
      <div class="input-group">
          <input type="text" name="disk_space" class="form-control" ng-model="host.disk_space" required integer />
          <span class="input-group-addon">MB</span>
        </div>
        <div ng-show="form.$submitted || form.disk_space.$touched">
          <span class="help-block" ng-show="form.disk_space.$error.required">This field is required.</span>
          <span class="help-block" ng-show="form.disk_space.$error.integer">This must be anumber.</span>
        </div>
      </div>
    </div><div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-default" type="button" ng-click="save(host)">Save</button>
      </div>
    </div>
  </form>
</div>
