<div class="row">
  <h1>Host #{{ host.id }}</h1>
  <div class="row">
    <div class="col-sm-2"><strong>CPU</strong></div>
    <div class="col-sm-10">{{ host.cpu }} Cores</div>
  </div>
  <div class="row">
    <div class="col-sm-2"><strong>Memory</strong></div>
    <div class="col-sm-10">{{ host.memory }}MB</div>
  </div>
  <div class="row">
    <div class="col-sm-2"><strong>Disk Space</strong></div>
    <div class="col-sm-10">{{ host.disk_space }}MB</div>
  </div>
  <div class="row">
    <h2>Instances</h2>
    <button class="pull-right btn btn-default" ng-click="create()">Create Instance</button>
    <table class="table table-striped">
     <thead>
      <tr>
        <th>ID</th>
        <th>CPU</th>
        <th>Memory</th>
        <th>Disk Space</th>
        <th>Status</th>
        <th></th>
      </tr>
     </thead>
     <tbody>
         <tr ng-repeat="instance in instances">
             <td>{{ instance.id }}</td>
             <td>{{ instance.cpu }} Cores</td>
             <td>{{ instance.memory }} MB</td>
             <td>{{ instance.disk_space }} MB</td>
             <td>{{ instance.status }}</td>
             <td>
               <button class="btn btn-danger" ng-show="instance.status != 'DELETED'" ng-click="delete(instance)">Delete</button>
             </td>
         </tr>
     </tbody>
    </table>
  </div>
</div>
