<div class="row">
  <h1>Hosts</h1>
  <button class="pull-right btn btn-default" ng-click="create()">Create Host</button>
  <table class="table table-striped">
   <thead>
    <tr>
      <th>ID</th>
      <th>CPU</th>
      <th>Memory</th>
      <th>Disk Space</th>
      <th>Status</th>
      <th></th>
    </tr>
   </thead>
   <tbody>
       <tr ng-repeat="host in hosts">
           <td>{{ host.id }}</td>
           <td>{{ host.cpu }} Cores</td>
           <td>{{ host.memory }} MB</td>
           <td>{{ host.disk_space }} MB</td>
           <td>{{ host.status }}</td>
           <td>
             <button class="btn btn-primary" ng-show="host.status != 'DELETED'" ng-click="view(host)">View</button>
             <button class="btn btn-danger" ng-show="host.status != 'DELETED'" ng-click="delete(host)">Delete</button>
           </td>
       </tr>
   </tbody>
  </table>
</div>
